<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log everything at INFO level or higher to the console -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Log everything at DEBUG level or higher to the file -->
    <logger name="com.jacksonsalopek.site" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>
</configuration>

