$ff: "Neue Bit";
$linkColor: #42AAE4;

.mt {
  margin-top: 48px !important;
}

.mt-half {
  margin-top: 24px !important;
}

.splash-text {
  text-align: center;
  font-family: $ff;
  font-weight: 700;
}

.heading {
  @extend .splash-text;
  font-size: 48px;
  margin: 0;
}

.dimmed {
  @extend .splash-text;
  display: block;
  opacity: 0.6;
  font-size: 20px;

  a {
    color: $linkColor;
  }
}

#animation {
	margin-top: 16px;
	height: calc(50vh - 16px);
	line-height: 0;
  
  code {
    display: block;
    position: relative;
    top: 72px;
  }

	& > div {
		margin: 0 auto;
		display: inline-block;
	}
}

.animation-container {
  text-align: center;
}

@media (min-width: 700px) {
  .animation-container {
    padding: 16px;
  }
}
