$ff: 'Neue Bit';

article {
  max-width: 600px;
  margin: 0 auto;
  font-family: monospace;
  font-size: 14px;
  padding: 0 8px;

  h1 {
    font-family: $ff;
    font-size: 32px;
    font-weight: 700;
  }

  a {
    color: #42AAE4;
  }

  i, em {
    color: #08BDBA;
  }

  b, strong {
    color: #FF7EB6;
  }
}
